[submodule "Serious_Games_Project/vendor/spdlog"]
	path = Serious_Games_Project/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Serious_Games_Project/vendor/GLFW"]
	path = Serious_Games_Project/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Serious_Games_Project/vendor/ImGui"]
	path = Serious_Games_Project/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
